body {
  	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #468299;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #ff449c;

}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

a:visited {
  color: lightyellow;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #d6c8ef;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;

}

.article-title {
  color: #444444;
}

a:visited {
  color: lightyellow;
}

a.article-title:hover {
  color: #fff9b7;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {

  color: #ffae00;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
